.input-header-choice-pop {
  min-width: 40vw;
  border: 1px solid black;
  border-radius: 5px;
}

.addBlog-input-blog {
  min-width: 40vw;
  margin-top: 20px;
}

.input-pop-up-default-li {
  display: grid;
  grid-template-columns: 1fr 5fr;
  place-content: center;
  padding: 2vh 20px;
}

.input-pop-up-default-li:nth-child(odd) {
  background-color: rgba(128, 128, 128, 0.332);
}

.input-pop-up-default-li:nth-child(even) {
  background-color: #fff;
}

.input-pop-up-default-li-h1 {
  margin: 0;
  padding: 0;
}

.input-header-choice-pop-h1h4 {
  padding: 0 20px;
}
