.input-header-choice-pop {
  max-width: max-content;
  border: 1px solid black;
  border-radius: 5px;
}

.addBlog-input-blog {
  min-width: 82vw;
  margin-top: 40px;
  min-height: 40px;
  border: none;
}

.addBlog-input-blog:focus {
  border-radius: 0;
  border: none;
}

.input-pop-up-default-li {
  display: grid;
  grid-template-columns: 1fr 5fr;
  place-content: center;
  padding: 2vh 20px;
  max-height: 10vh;
  border: none;
  background-color: inherit;
  width: 100%;
}

.input-pop-up-default-li:hover {
  background-color: rgba(128, 128, 128, 0.332);
}

.ux-icons-font {
  display: flex;
  align-self: center;
  justify-self: center;
  max-width: 10vw;
}

.input-pop-up-default-li-h1h4 {
  text-align: left;
  line-height: 24px;
  font-size: 1.2rem;
  margin: 0;
  padding: 0 0 0 10px;
}

.input-pop-up-default-li-h1 {
  margin: 0;
  padding: 0;
}

.input-header-choice-pop-h1h4 {
  padding: 0 20px;
}

.input-header-choice-pop-h1h4:nth-child(2) {
  padding: 0 20px;
  margin: -15px 0 0 0;
  color: rgba(128, 128, 128, 0.866);
  font-weight: 400;
  line-height: 12px;
}

.span-header-choice {
  padding-left: 5px;
}

.input-header-choice-pop-h1h4:nth-child(3) {
  padding: 0 20px;
  color: #000;
  font-weight: 400;
  line-height: 12px;
}

.span-pop-up-addBlog {
  background-color: rgba(0, 0, 255, 0.555);
  color: #fff;
  padding: 2px 4px;
  margin-left: 5px;
  border-radius: 4px;
}

.input-pop-up-default-container {
  display: grid;
  padding-bottom: 5vh;
}

.input-pop-up-default-li-h1h4:nth-child(2) {
  color: rgba(128, 128, 128, 0.866);
}

@media (min-width: 760px) {
  .addBlog-input-blog {
    min-width: 43vw;
    margin-top: 20px;
    min-height: 20px;
  }

  .input-header-choice-pop {
    max-width: 20vw;
    border: 1px solid black;
    border-radius: 5px;
  }

  .ux-icons-font {
    display: flex;
    align-self: center;
    justify-self: center;
    max-width: 2vw;
  }

  .input-pop-up-default-container {
    display: grid;
    padding-bottom: 12vh;
  }

  .user-input-container {
    max-width: 43vw;
  }
}
