.editor-main-container {
  display: grid;
  place-items: center;
  padding: 2vh 5vw;
}

.editor-main-header {
  text-align: center;
  border-bottom: 1px solid grey;
  padding-bottom: 30px;
}

.editor-main-paragraph {
  margin: 0;
  padding: 0;
  text-align: center;
}

.display-blogs-section {
  display: grid;
  min-width: 85vw;
  padding-left: 20px;
  place-content: left;
}

@media (min-width: 760px) {
  .editor-main-container {
    display: grid;
    place-items: center;
    padding: 2vh 5vw;
  }

  .editor-main-paragraph {
    margin: 0;
    padding: 0 20vw;
    text-align: left;
  }

  .display-blogs-section {
    display: grid;
    min-width: 52vw;
    padding-left: 20px;
    place-content: left;
  }
}
